[submodule "src/civetweb"]
	path = src/civetweb
	url = https://github.com/stonepros/civetweb
[submodule "src/erasure-code/jerasure/jerasure"]
	path = src/erasure-code/jerasure/jerasure
	url = https://github.com/stonepros/jerasure.git
	branch = v2-stone
[submodule "src/erasure-code/jerasure/gf-complete"]
	path = src/erasure-code/jerasure/gf-complete
	url = https://github.com/stonepros/gf-complete.git
	branch = v3-stone
[submodule "src/rocksdb"]
	path = src/rocksdb
	url = https://github.com/stonepros/rocksdb
	ignore = dirty
[submodule "src/googletest"]
	path = src/googletest
	url = https://github.com/stonepros/googletest
	branch = stone-release-1.7.x
[submodule "src/spdk"]
	path = src/spdk
	url = https://github.com/stonepros/spdk.git
[submodule "src/xxHash"]
	path = src/xxHash
	url = https://github.com/stonepros/xxHash.git
[submodule "src/isa-l"]
	path = src/isa-l
	url = https://github.com/stonepros/isa-l
[submodule "src/zstd"]
	path = src/zstd
	url = https://github.com/facebook/zstd
[submodule "src/crypto/isa-l/isa-l_crypto"]
	path = src/crypto/isa-l/isa-l_crypto
	url = https://github.com/01org/isa-l_crypto
[submodule "src/rapidjson"]
	path = src/rapidjson
	url = https://github.com/stonepros/rapidjson
[submodule "src/seastar"]
	path = src/seastar
	url = https://github.com/stonepros/seastar.git
[submodule "src/fmt"]
	path = src/fmt
	url = https://github.com/stonepros/fmt.git
[submodule "src/c-ares"]
	path = src/c-ares
	url = https://github.com/stonepros/c-ares.git
[submodule "src/spawn"]
	path = src/spawn
	url = https://github.com/stonepros/spawn.git
[submodule "src/pybind/mgr/rook/rook-client-python"]
	path = src/pybind/mgr/rook/rook-client-python
	url = https://github.com/stonepros/rook-client-python.git
[submodule "src/jaegertracing/opentracing-cpp"]
	path = src/jaegertracing/opentracing-cpp
	url = https://github.com/opentracing/opentracing-cpp.git
	branch = v1.6.0
[submodule "src/jaegertracing/jaeger-client-cpp"]
	path = src/jaegertracing/jaeger-client-cpp
	url = https://github.com/stonepros/jaeger-client-cpp.git
	branch = hunter-disabled
[submodule "src/jaegertracing/thrift"]
	path = src/jaegertracing/thrift
	url = https://github.com/apache/thrift.git
	branch = 0.13.0
[submodule "src/libkmip"]
	path = src/libkmip
	url = https://github.com/stonepros/libkmip
	branch = stone-master
[submodule "src/dmclock"]
	path = src/dmclock
	url = https://github.com/stonepros/dmclock.git
[submodule "src/s3select"]
	path = src/s3select
	url = https://github.com/stonepros/s3select.git
[submodule "src/blkin"]
	path = src/blkin
	url = https://github.com/stonepros/blkin
