[Unit]
Description=stone target allowing to start/stop all stone-fuse@.service instances at once
PartOf=stone.target
Before=stone.target

[Install]
WantedBy=remote-fs.target stone.target
