[Unit]
Description=stone target allowing to start/stop all stone-rbd-mirror@.service instances at once
PartOf=stone.target
Before=stone.target

[Install]
WantedBy=multi-user.target stone.target
