[Unit]
Description=Stone target to start/stop all stonefs-mirror@.service instances
PartOf=stone.target
Before=stone.target

[Install]
WantedBy=multi-user.target stone.target