[Unit]
Description=stone target allowing to start/stop all stone-mon@.service instances at once
PartOf=stone.target
Before=stone.target
Wants=stone.target

[Install]
WantedBy=multi-user.target stone.target
