[Unit]
Description=stone target allowing to start/stop all stone-osd@.service instances at once
PartOf=stone.target
After=stone-mon.target
Before=stone.target
Wants=stone.target stone-mon.target

[Install]
WantedBy=multi-user.target stone.target
