/*.substvars
/*.debhelper.log
/stone-common-dbg
/stone-common
/stone-fuse-dbg
/stone-fuse
/stone-fs-common-dbg
/stone-fs-common
/stone-mds-dbg
/stone-mds
/stone-mgr-dbg
/stone-mgr
/stone-mon-dbg
/stone-mon
/stone-osd-dbg
/stone-osd
/stone-resource-agents
/stone.init
/radosgw.init
/stone.logrotate
/*.debhelper
/stone
/files
/libstonefs2-dbg
/libstonefs-dev
/libstonefs2
/librados2-dbg
/librados-dev
/librados2
/librbd1-dbg
/librbd-dev
/librbd1
/radosgw-dbg
/radosgw
/python-stone
/python-rados
/python-rbd
/python-stonefs
/libstonefs-java
/libstonefs-jni
/tmp
